h2{
    background-color:#b81eb8 ;
    color:white;
    text-align:center;
}
h1{
    background-color:yellow;
    color:black;
    text-align:center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    background-color:blue;
  }